.footer {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: .75rem 1rem 0;
  background: #f2f2f2;
  text-align: center;
  box-shadow: none;
}


.footer_inner {
  max-width: 960px;
  margin: 0 auto;
  vertical-align: center;
}

.button_1, .button_2 {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 66%;
}

.button_1:disabled, .button_2:disabled {  
  cursor: not-allowed;
}

.button_1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #0cf; */
  background-color: #8bbc07;
  border-radius: 10rem;
  z-index: -2;
}

.button_1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #6f9606;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.button_2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8a8a8a;
  border-radius: 10rem;
  z-index: -2;
}

.button_1:hover {
  color: #fff;
}

.button_1:hover:before {
  width: 100%;
}

.button_back {
  cursor: pointer;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 6rem;  
  border: 3px solid #8bbc07;
  border-radius: 50px;
  font-size: 1.4rem;
  color:#5e5e5e;
}

.button_back:hover {
  transition: all .35s ease-in-out;
  background-color: #fff;
}

i {
  /* border: solid black; */
  border-width: 0 3px 3px 0;
  display: inline-block;
  /* padding: 8px; */
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.icon_back {  
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: 200%;
  line-height: 3.4rem;
  text-align: center;
  vertical-align: baseline;
  position: relative;
  top: -.125rem;
  left: -.25rem;
  color: #8bbc07;
  transition: all .25s ease-in-out;
  background-color: transparent;
  border: .125rem solid #8bbc07;
}

.icon_back:before {
  content: "";
  
}