.footer {
    width: 100%;
    height: 5rem;
    background: rgb(239 239 239);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.btnFooter, .btnFooter__next, .btnBack {
    position: relative;
    width: 100%;
    max-width: 25%;
    height: 48px;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    background-color: #8bbc07;
    color: #fff;
    transition: all .3s;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px 0 11px 0;
}

.btnBack > p {
    font-family: Arial, Helvetica, sans-serif;
}

.btnFooter__next {
    border-radius: 0 35px 35px 0;
}

.btnFooter:hover:before, .btnFooter__next:hover:before {
    width: 100%;
}

.btnFooter__next:disabled {
    cursor: not-allowed;
    background-color: #999;
}

.btnFooter__next:disabled:before {
    content: '';
    transition: none;
    background-color: #999;
}

.btnFooter:before, .btnFooter__next:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 48px;
  background-color: #6f9606;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.btnFooter__next:before {
    border-radius: 0 35px 35px 0;
}

.footer__icon__next {
    position: absolute;
    right: 22px;
    line-height: 1.2px;
    transition: right .2s ease-out;
}

.btnFooter:hover .footer__icon__next, .btnFooter__next:hover .footer__icon__next {
    right: 15px;
}

.btnBack {    
    height: 48px;
    background-color: #fff;
    border-radius: 35px 0 0 35px;
    color: #333;
    width: 150px;
}

.btnBack:hover, .btnBack:hover:before {
    width: 150px;
}

.btnBack:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 48px;
    background-color: #e6e6e6;
    transition: all .3s;
    border-radius: 35px 0 0 35px;
    z-index: -1;
  }

.footer__icon__back {
    position: absolute;
    left: 22px;
    line-height: 1.2px;
    transition: right .2s ease-out;
}

@media only screen and (max-width: 540px) {
    .btnFooter, .btnFooter__next {
        font-size: 14px;
        width: 100%;
        max-width: 50%;
    }

    .btnBack {
        font-size: 14px;
    }
    
    .btnBack > p {
        visibility: hidden;
    }
}