.content {
    padding: 10rem 0 5rem;
    text-align: center;
    height: calc(100vh - 5rem);
    margin: 0;
    display: table !important;
    width: 100%;
}

.content_inner {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    padding-bottom: 2rem;
}