.content {
    padding: 10rem 0 0 0;
    text-align: center;
    margin: 0;
    width: 100%;
    height: calc(100vh - 13rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content_true {
    vertical-align: middle;
}