.content {
    padding: 10rem 0 0 0;
    text-align: center;
    margin: 0;
    display: table !important;
    width: 100%;
    height: calc(100vh - 13rem);
}

.content_inner {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    padding-bottom: 2rem;
}

.content_true {
    vertical-align: middle;
}