.main {
    height: calc(100vh - 7rem - 5rem);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.main > h2 {
    font-size: 48px;
}

.btn__play, .btn__pause {
    cursor: pointer;
    background-color: rgba(63, 81, 181, 0.04) !important;
    margin: 0 9vh 0 9vh !important; 
}

.btn__play:hover, .btn__pause:hover {
    background-color: #8bbc07 !important;
    color: #fff !important;
}

.sounds__buttons {
    max-width: 70%;
}

.sound__text {
    margin-top: 15vh;
    margin-bottom: 10vh;
}

@media only screen and (max-width: 540px) { 
    .sounds__buttons {
        max-width: 95%;
    }

    .btn__play, .btn__pause { 
        margin: 0 3vh 0 3vh !important; 
    }
}