.main {
    height: calc(100vh - 7rem - 5rem);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.main > h2 {
    font-size: 48px;
}

.sound__text {
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.sounds__buttons {
    max-width: 70%;
}

.div__waves {
    font-family: 'sans-serif';
    text-align: center;
    /* background: #666; */
    height: auto;
    width: 100%;
    position: absolute;
    top: 65vh;
}

.siri__waves {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    opacity: 0.8;
    /* user-select: none; */
    cursor: pointer
}

@media only screen and (max-width: 540px) { 
    .sounds__buttons {
        max-width: 95%;
    }

    .btn__play, .btn__pause { 
        margin: 0 3vh 0 3vh !important; 
    }
}