.header {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 600;
    background-color: #ffffff;
    padding: 0 25px;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > a {
    text-decoration: none;
    max-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
}

.menu > a > h2 {
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #174291;
    background: -webkit-linear-gradient( #174291, #5c7fbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu > a:nth-child(2) > img { 
    max-width: 25px;
    margin-right: 5px;
}

.menu > a:nth-child(2) {
    color: #000;
}

.logo {
    max-width: 70px;
    max-height: 100%;
}

@media only screen and (max-width: 900px) {

    .menu {
        text-align: center;
        margin-left: 0 25px;
        
    }

    .logo {
        max-width: 45px;
        max-height: 100%;
    }

    .menu > a > h2 {
        font-size: 24px;
    }

    .menu > a:nth-child(2) > p {
        display: none;
    }
}