.max_width {
    max-width: 960px;
    padding: 0 1rem;
    margin: 0 auto;
}

.answers {
    border-radius: 5rem;
    box-shadow: none;
    user-select: none;
    width: 95%;
    padding: 0;
    display: table;
    margin: 0 auto;
}

@media all and (max-width: 540px) { 
    .answers {
        margin: 10vmin auto 0 auto;
    }
  }  