* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "RotisSansSerifW02", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 { font-size: 2rem; margin: .67rem }
h2 { font-size: 1.5rem; margin: .75rem }
h3 { font-size: 1.17rem; margin: .83rem }
h4 { margin: 1.12rem }
h5 { font-size: .83rem; margin: 1.5rem }
h6 { font-size: .75rem; margin: 1.67rem }
p { font-family: "RotisSansSerifW02"; }

@media all and (max-width: 768px) { 
  html,
  body {
    font-size: 14px;    
  }
}