img {
    max-width: 10%;
}

li {
    display: inline-block;    
    text-align: center;
    margin: 0 -1px;
    width: 30%;
    padding: 20px 0;    
}

input {
    /* display: none; */
    visibility: hidden;
}

label {
    width: 100%;
    display: block;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #ff2058;
}

li:first-child label {
    border-radius: 100px 0 0 100px;
}

li:last-child label {
    border-radius: 0 100px 100px 0;
}

label:hover {
    background: #ff2058;
    color: #fff;    
}

.active {
    background: #ff2058;
    color: #fff;
}

input:checked + label {
    background: #ff2058;
    color: #fff;
}

input[type="radio"] {
    display: none;
}

  @media all and (max-width: 540px){
    img {
        max-width: 18%;
    }
  }