.main {
    height: calc(100vh - 7rem - 5rem);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.question > h3 {
    text-align: center;
}

.question > img {
    max-width: 100%;
}

.answers {
    display: block;
    width: 100%;
}

.answers > ul {
    padding: 15px;
}

li {
    display: inline-block;    
    text-align: center;
    margin: 0 -1px;
    width: calc(100%/5);
    padding: 20px 0; 
}

li:first-child label {
    border-radius: 100px 0 0 100px;
}

li:last-child label {
    border-radius: 0 100px 100px 0;
}

input {
    /* display: none; */
    visibility: hidden;
}

label {
    width: 100%;
    display: block;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #8bbc07;
}

label:hover {
    background: #8bbc07;
    color: #fff;    
}

.active {
    background: #8bbc07;
    color: #fff;
}

input:checked + label {
    background: #8bbc07;
    color: #fff;
}

input[type="radio"] {
    display: none;
}

.questions__select {
    width: 100%;
    padding: 0 20px;
    display: none;
}

.formControl > label {
    border: 0;
}

@media only screen and (max-width: 540px) {
    .answers {
        display: none;
    }
    
    .questions__select {
        display: block;
    }

    .formControl {        
        width: 100% !important;
    } 
}

