.boxSounds {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .volumeHide {
    display: none;
  }

  .volumeBtn, .volumeBtn_play {
    background:#fff;
    border: .125rem solid #004990 ;
    box-shadow: none;
    color:#004990;
    position: relative;
    opacity: 1;
    user-select: none;
    border-radius: 50%;
    width: 10vmin;
    height: 10vmin;
    color: #004990;
    font-size: 6vmin;
    outline: 0;
    cursor: pointer;    
    vertical-align: middle;
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .volumeBtn:hover, .volumeBtn:focus {
    background: #004990;
    color: white;
  }

  .volumeBtn:before, .volumeBtn_play{
    line-height: 10vmin;
    border: none;
  }

  .volumeBtn:active, .volumeBtn_play:active {
    transform: scale(.9);
  }

  .volumeBtn_play {
    margin: 0 10vmin;
    font-size: 10rem;
    width: 20vmin;
    height: 20vmin;
  }

  @media all and (max-width: 540px) { 
    /* .boxSounds{
      height: 10vmin;
    } */
    .volumeBtn {
      width: 20vmin;
      height: 20vmin;
    }
  }  